<%= turbo_frame_tag "season_form" do %>
  <%= form_with(model: [season.produce, season]) do |form| %>
    <% if season.errors.any? %>
      <div style="color: red">
        <h2><%= pluralize(season.errors.count, "error") %> prohibited this season from being saved:</h2>

        <ul>
          <% season.errors.each do |error| %>
            <li><%= error.full_message %></li>
          <% end %>
        </ul>
      </div>
    <% end %>

    <div class="row mb-3">
      <div class="col">
        <%= form.label :start_time, class: "form-label" %>
        <%= form.select :start_time, seasons_time_pairs, {}, { class: "form-select" } %>
      </div>

      <div class="col">
        <%= form.label :end_time, class: "form-label" %>
        <%= form.select :end_time, seasons_time_pairs, {}, { class: "form-select" } %>
      </div>
    </div>

    <div class="mb-3">
      <%= form.submit class: "btn btn-primary" %>
    </div>
  <% end %>
<% end %>
