<%= turbo_frame_tag "season_form" do %>
  <%= turbo_stream.remove "delete-produce" %>
  <%= turbo_stream.remove "no-season-title" %>
  <div id="<%= dom_id season %>">
    <% if season.no_season? %>
      <div class="alert alert-info mb-3"> This produce was declared to have no season in <%= @location %> </div>
    <% else %>
      <%= render 'seasons/timeline', season: @season %>
    <% end %>
    <%= render 'seasons/trustworthiness', season: @season %>
  </div>
<% end %>
