<div id="<%= dom_id season %>">
  <p>
    <strong>Latitude:</strong>
    <%= season.latitude %>
  </p>

  <p>
    <strong>Longitude:</strong>
    <%= season.longitude %>
  </p>

  <p>
    <strong>Produce:</strong>
    <%= season.produce_id %>
  </p>

  <p>
    <strong>Start time:</strong>
    <%= season.start_time %>
  </p>

  <p>
    <strong>End time:</strong>
    <%= season.end_time %>
  </p>

</div>
