<p style="color: green"><%= notice %></p>

<%= render @season %>

<div>
  <%= link_to "Edit this season", edit_season_path(@season) %> |
  <%= link_to "Back to seasons", seasons_path %>

  <%= button_to "Destroy this season", @season, method: :delete %>
</div>
