<%= form_with(model: produce) do |form| %>
  <% if produce.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(produce.errors.count, "error") %> prohibited this produce from being saved:</h2>

      <ul>
        <% produce.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="row">
    <div class="col-3">
      <%= form.hidden_field :user_id, value: current_user.id %>
      <div class="mb-3">
        <%= form.label :name, class: "form-label", style: "display: block" %>
        <%= form.text_field :name, class: "form-control" %>
      </div>
      <div class="mb-3">
        <%= image_tag produce.picture.variant(:thumb) if produce.picture.attached? %>
      </div>
    </div>
  </div>

  <div class="row">
    <label for="image_select" class="form-label"><%= produce.picture.attached? ? "Change" : "Select a" %>  picture</label>
    <div class="mb-3 d-flex col-6" id="image-select">
      <% thumbnail_counter = 1 %>
      <% @thumbnail_urls.each do |url| %>
        <% image_id = "image_#{thumbnail_counter}" %>
        <div id=<%=image_id%> class="d-flex flex-column my-2">
          <%= image_tag url %>
          <%= form.radio_button :image, thumbnail_counter, class: "btn-check", autocomplete: "off" %>
          <%= form.label image_id.to_sym, "Use", class: "btn btn-outline-primary" %>
        </div>
        <% thumbnail_counter += 1 %>
      <% end %>
    </div>
  </div>

  <div class="row">
    <div class="col-3">
      <div class="mb-3">
        <%= form.label :picture, 'Upload picture', class: "form-label", style: "display: block" %>
        <%= form.file_field :picture, class: "form-control" %>
      </div>

      <div class="mb-3">
        <%= form.label :links, 'Wikipedia link', class: "form-label", style: "display: block" %>
        <%= form.fields_for :links, produce.links.wikipedia.first do |link_form| %>
          <%= link_form.hidden_field :from, value: :wikipedia %>
          <%= link_form.text_field :url, class: "form-control", id: "produce_links" %>
        <% end %>
      </div>

      <div class="mb-3">
        <%= form.submit class: "btn btn-primary" %>
      </div>
    </div>
  </div>
<% end %>
