<%= form_with(model: produce) do |form| %>
  <% if produce.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(produce.errors.count, "error") %> prohibited this produce from being saved:</h2>

      <ul>
        <% produce.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="row">
    <div class="col-sm-6">
      <%= form.hidden_field :user_id, value: current_user.id %>
      <div class="mb-3">
        <%= form.label :name, t(:name), class: "form-label", style: "display: block" %>
        <%= form.text_field :name, class: "form-control" %>
      </div>

      <% theres_a_picture = produce.picture.attached? || @image_url %>
      <% if theres_a_picture %>
        <div class="mb-3">
          <% if produce.picture.attached? %>
            <%= image_tag produce.picture.variant(:thumb)  %>
          <% elsif @image_url %>
            <%= image_tag @image_url, class: "img-fluid" %>
            <!-- THIS DOESN'T WORK -->
            <%= form.hidden_field :wiki_image, value: @image_url %>
          <% end %>
        </div>
      <% end %>

      <% unless @image_url %>
        <div class="mb-3">
          <%= form.label :picture, t(:change_or_add_a_picture, coa: theres_a_picture ? t(:change_picture) : t(:add_picture)), class: "form-label", style: "display: block" %>
          <%= form.file_field :picture, class: "form-control" %>
        </div>
      <% end %>

      <div class="mb-3">
        <%= form.label :links, t(:wikipedia_link), class: "form-label", style: "display: block" %>
        <%= form.fields_for :links, produce.links.wikipedia.first do |link_form| %>
          <%= link_form.hidden_field :from, value: :wikipedia %>
          <%= link_form.text_field :url, class: "form-control", id: "produce_links" %>
        <% end %>
      </div>

      <div class="mb-3">
        <%= form.submit t(:update), class: "btn btn-primary" %>
      </div>
    </div>
  </div>
<% end %>
