<div id="<%= dom_id produce %>" class="row mb-4" >
  <% if produce.picture.attached? %>
    <div class="col-5">
      <%= image_tag produce.picture.variant(:profile), class: "img-fluid" %>
    </div>
  <% end %>
  <div class="col-7">
    <h2 class="display-2"><%= produce.name %></h2>
    <p>
      <%= link_to "Wikipedia", produce.main_link, target: '_blank' if produce.main_link %>
    </p>
    <div class="btn-group" role="group" aria-label="Actions">
      <%= link_to "Edit", edit_produce_path(produce), class: "btn btn-info" %>
      <%= link_to "Destroy",
            produce_path(produce),
            data: {
              turbo_method: :delete,
              turbo_confirm: "Delete this produce?"
            },
            class: "btn btn-danger" %>
    </div>
    <h3> Currently in season - make dynamic </h3>
    <%= link_to "Add season", new_produce_season_path(produce), class: "btn btn-primary" %>
  </div>
</div>
<div class="row mb-4">
</div>
