<div id="<%= dom_id produce %>" class="row mb-4" >
  <div class="col-7">
    <h1 class="display-1"><%= produce.name %></h1>
    <p>
      <%= link_to "Wikipedia", produce.main_link, target: '_blank' if produce.main_link %>
    </p>
    <% if current_user && current_user == produce.user %>
      <div id='produce-actions' class="btn-group mb-3" role="group" aria-label="Actions">
        <%= link_to t(:edit), edit_produce_path(produce), class: "btn btn-info" %>
        <%= link_to t(:destroy),
              produce_path(produce),
              data: {
                turbo_method: :delete,
                turbo_confirm: t(:destroy_confirm)
              },
              class: "btn btn-danger" if produce.seasons.empty? %>
      </div>
      <% if produce.seasons.any? %>
        <p><%= t(:cant_destroy_produce) %></p>
      <% end %>
    <% end %>
  </div>
  <% if produce.picture.attached? %>
    <div class="col-5">
      <%= image_tag produce.picture.variant(:thumb), class: "img-fluid rounded float-end" %>
    </div>
  <% end %>
</div>
<div class="row mb-4 highlight">
<% if @season %>
    <%= render @season %>
<% else %>
  <h3><%= t(:no_season_nearby, location: @location) %></h3>
  <%= render 'seasons/form', season: Season.new(produce: @produce) if current_user %>
</div>
<% end %>
