<% if @in_season_produces.any? %>
  <section id="in-season-now" class="mb-5">
    <h1><%= t :in_season_now %></h1>
    <%= render 'produces', produces: @in_season_produces %>
  </section>
<% end %>

<section id="search" class="mb-5">
  <div class="row mb-3">
    <%= render 'search_form' %>
  </div>
  <div class="row">
    <% if @other_produces.any? %>
      <div id="produces">
        <%= render 'produces', produces: @other_produces %>
      </div>
    <% else %>
      <% if params[:query] %>
        <p><%= t(
                 :search_fail_html,
                 query: params[:query],
                 link: link_to(
                   t(:create_it),
                   new_produce_path(name: params[:query].try(:capitalize))
                 )
               ) %></p>
      <% end %>
    <% end %>
  </div>
</section>

<% if @unknow_season_produce.any? %>
  <section id="season-unknown" class="row mb-5">
    <h1><%= t :season_unknown %></h1>
    <%= render 'produces', produces: @unknow_season_produce %>
    <p><%= t :please_add_season %></p>
  </section>
<% end %>
