<p style="color: green"><%= notice %></p>

<%= render @produce %>

<div>
  <%= link_to "Edit this produce", edit_produce_path(@produce) %> |
  <%= link_to "Back to produces", produces_path %>

  <%= button_to "Destroy this produce", @produce, method: :delete %>
</div>
